<header class="header">
    <div class="container">
        {{ if .IsHome }}
        <h1 class="title">{{ .Site.Title }}</h1>
        {{ else }}
        <a href="/" class="title">{{ .Site.Title }}</a>
        {{ end }}

        <p class="subtitle">{{ .Site.Params.description }}</p>

        <nav class="nav">
            <ul>
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }} </a>
                </li>
                {{ end }}
                <li>
                    <a href="mailto:hi@larsgraubner.com">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
