<header class="header">
    <div class="container">
        {{ partial "nav.html" . }}

        <div class="persona">
            <img src="/lars.jpg" width="50" height="50" class="avatar" alt="Lars Graubner" />
            <div>
                {{ if .IsHome }}
                <h1 class="title">{{ .Site.Title }}</h1>
                {{ else }}
                <a href="/" class="title">{{ .Site.Title }}</a>
                {{ end }}
                <p class="subtitle">{{ .Site.Params.description }}</p>
            </div>
        </div>


    </div>
</header>
