{{ define "main" }}
    <section class="about">
        <h2 class="heading">Welcome</h2>
        <p>As a developer you want to guarantee an excellent user experience, so you have to satisfy the habits of them. Taking a popover as example, users expect to close it when they click outside of it. Using React we now have a problem. Everything outside of the component is not in the scope of it's event listeners. You could try to catch the clicks on the parent components and pass it through, but this adds a lot of bloat. Another attempt could be to add an invisible overlay which catches the click. But this requires the user to click twice to interact with something else on the page.</p>
    </section>
    <section>
        <h2 class="heading">Latest Articles</h2>
        <ul class="list">
            {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
    </section>
{{ end }}
